*{
	position: relative;
	box-sizing: border-box;
	margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}
/*body,html{
	margin: 0;
	padding: 0;
	height: 1080px;
	background-color: #383838;
	overflow: hidden;
}*/
html{
	/*overflow: scroll;*/
}
body{ 
	width: 100%;
	min-height: 100vh; 
	background-color: #383838;
	/*overflow: scroll;*/
	/*border: 1px solid red;*/

}

/* --------------------- */
/* Utility */
/* --------------------- */
.u-text-center{text-align: center !important;}
.u-text-right{text-align: right !important;}
.u-mt-24{margin-top: 24px !important;}
.u-mt-48{margin-top: 48px !important;}
.u-mb-24{margin-bottom: 24px !important;}
.u-mb-32{margin-bottom: 32px !important;}
.u-mb-48{margin-bottom: 48px !important;}
.u-pl-8{padding-left: 8px !important;}
.u-pr-8{padding-right: 8px !important;}
.u-padding-32{padding: 32px !important;}
.u-resize-none{resize: none;}

.wrapper{
	height: 100%;
 	/*margin: 0 auto;*/
 	/*overflow-x: hidden;*/
 	width: 100%;
}

.arrow_container{
	position: absolute;
	top: 0px;
	left:  0px;	
}
a{
 	z-index: 20;
}
.arrow{
	/*border: 3px solid red;*/
	width: 245px;
	height: 110px;
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 30px;
	left: 0;
	transform: scale(.5);
}


.title{
	margin:0 25px;
	padding-top: 50px;
	font-size: 250px;
	color: #fff;
	text-align: center;
	/*border: 1px solid darkred;*/

	/*display: inline-block;*/
}
.content{
	margin-top: 25px;
	font-size: 50px;
	color: #fff;
	text-align: center;
	/*border: 1px solid darkred;*/
	/*display: inline-block;*/
}
.co1{
	text-align: right;
	padding-right: 25px;
}
.co2{
	padding-left: 50px;
	text-align: left;
}
.er1{
	width: 290px;
	height: 130px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	transform: scale(2.4);
	position: absolute;
	left: -150px;
	top: 160px;
	/*border: 1px solid red;*/
}
.er2{
	width: 240px;
	height: 125px;
	background-repeat: no-repeat;
	background-position: center;
	transform: scale(2.5);
	position: absolute;
	left: 520px;
	top: 150px;
	/*border: 1px solid red;*/
}
.fire_pos{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 100px;
	left: -200px;
	transform: rotate(-20deg);
}
.fire_pos2{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 180px;
	left:-200px;
	transform: rotate(25deg);
	/*border: 1px solid red;*/
}

.fire_con{
	transform: scaleX(.1);
}
.fire:after{
	content: "";
	position: absolute;
	display: block;
	/*top: 50%;*/
	left: 33.3%px;
	width: 33.3%;
	height: 7px;
	/*border-radius: 25%;*/
	background-color: orange;
	z-index: 2;
	transform-origin: left;
	transform: scaleX(0);
	animation: flash 1.5s infinite;
}
@keyframes flash{
	0%{
		transform: translateX(0) scaleX(0);
		transform-origin: left;
		left: 33.3%;
		right: auto;
	}5%{
		transform: translateX(0) scaleX(1);
		transform-origin: left;
		left: 33.3%;
		right: auto;
	}7%{
		transform: translateX(0) scaleX(1);
		transform-origin: right;
		left: auto;
		right: 33.3%;
	}12%{
		transform: translateX(0) scaleX(0);
		transform-origin: right;
		left: auto;
		right: 33.3%;
	}20%{
		transform: translateX(0) scaleX(0);
		transform-origin: left;
		left: 33.3%;
		right: auto;
	}25%{
		transform: translateX(0) scaleX(1);
		transform-origin: left;
		left: 33.3%;
		right: auto;
	}27%{
		transform: translateX(0) scaleX(1);
		transform-origin: right;
		left: auto;
		right: 33.3%;
	}32%{
		transform: translateX(0) scaleX(0);
		transform-origin: right;
		left: auto;
		right: 33.3%;
}
/*.fire{
	width: 0px;
	height: 8px;
	position: absolute;
	top: 200px	;
	left: 700px;
	background-color: orange;

	animation: flash 0.3s 1s infinite backwards;
}
@keyframes flash{
	0%{width: 0;}
	49%{transform: rotate(0deg);}
	50%{width: 60px;transform: rotate(180deg);}
	100%{width: 0;}
}*/